zipp==3.1.0
brotlipy==0.7.0
docutils==0.16
keyring==21.2.1
cryptography==2.9.2
greenlet==0.4.16
importlib_metadata==1.7.0
typing_extensions==3.7.4.2
watchdog==0.10.3
lxml==4.5.2
numpy==1.18.5
Cython==0.29.21
blinker==1.4
brotli==1.0.9
dataclasses==0.8
lockfile==0.12.2
ordereddict==1.1
pretty==0.1
protobuf==3.17.0
pyOpenSSL==20.0.1
python-dotenv==0.17.1
simplejson==3.17.2
wincertstore==0.2
